.form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background-color: rgb(235, 235, 240);
    box-shadow: rgba(0, 0, 0, 0.85) 0px 5px 10px;
    height: 50vh;
    padding: 15px;
    border-radius: 10px;
}
.outer-element{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.inner-element{
    padding: 15px;
}
